* {
    margin: 0;
    padding: 0;
    cursor: default;
}

::marker {
    color: dodgerblue;
    font-size: 20px;
}

li {
    font-weight: 600;
}

.main {
    height: 90vh;
    background-image: url("./logo512.png");
    background-repeat: no-repeat;
    background-position: 150vh;
    padding: 50px;
}

.BCmain {
    height: 100vh;
    background-color: #292935;
}

.cardExt {
    border-radius: 15px;
    width: fit-content;
    padding: 40px;
    background-color: #363645;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.profileDP {
    background-color: #eaa560;
}

.card {
    width: 210px;
    text-align: center;
    background-color: #292935 !important;
}

.btns button {
    border-radius: 7px;
    font-weight: 500;
    font-size: 13px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 80px;
    border-color: transparent;
}

.btns button:first-child {
    background-color: white;
}

.btns button:first-child:hover {
    border-bottom: 2px solid;
    border-bottom-color: #c7c7c7 !important;
}

.btns button:last-child {
    color: white;
    background-color: #74a0ef;
}

.btns button:last-child:hover {
    border-bottom: 2px solid;
    border-bottom-color: #5a7dba !important;
}

.socialBtns *:hover {
    animation: 1s ease forwards zoomin;
    cursor: pointer;
}

.contacts-card {
    padding: 12px;
    text-align: center;
    border-radius: 12px;
    background-color: #ffffff !important;
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    background-color: #f4f4f4 !important;
}

.contacts-main {
    position: relative;
    top: 50%;
    width: fit-content;
    padding: 40px;
    text-align: center !important;
}

.contacts-card:hover {
    cursor: pointer !important;
    animation: 1s ease forwards zoomin;
}

.contacts-card * {
    cursor: pointer;
}

@keyframes zoomin {
    0% {
        transform: scale(1, 1)
    }
    100% {
        transform: scale(1.1, 1.1)
    }
}

.box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 5px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}